/*
Project Name: Zaphod
Author: Sean
Version: alpha
Started: 21/jul/2014
*/
/* ###### FONTS ####### */
/* ###### COLOR ####### */
/* ###### SIZES ####### */
.smallicon {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icons.png") no-repeat;
}
.hidetext {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.buttons {
  width: 140px;
  height: 38px;
}
.vavatar-basics {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 10px 10px 0;
  overflow: hidden;
}

.true {
  background-position: -2px -1070px !important;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icons.png") no-repeat;
}
.false {
  background-position: -2px -1120px !important;
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icons.png") no-repeat;
}
#sidenav ul li a {
  display: block;
  padding: 13px 20px;
  text-decoration: none;
  padding-left: 20px;
  color: #efefef;
  font-weight: 700;
}
#sidenav ul li a:hover,
#sidenav ul .controlleractive a {
  background: #efefef;
  border-left: 5px solid #acc23f;
  padding-left: 15px;
  color: #464646;
}

.detail_ico {
  background: url("../images/icons.png") no-repeat;
  padding: 5px 0 0 35px;
  width: 85px;
}

.detail_info {
padding-top: 5px;
}
.detail_tel {
  background-position: 0 -498px !important;
}
.detail_fax {
  background-position: 0 -548px;
}
.detail_email {
  background-position: 0 -596px;
}
.detail_site {
  background-position: 0 -650px;
}

.nt_justnow {
  background: url("../images/icons.png") no-repeat;
  background-position: 0px -1222px;
  color: #fc431d;
}
.nt_past {
  background: url("../images/icons.png") no-repeat;
  background-position: 0px -1172px;
  color: #c9c9c9;
}

#sidenav ul #generalMotion a {
	background: url("../../images/icons.png") no-repeat;
	background-position: 9px -1534px;
	padding-left: 34px;
}

#sidenav ul #generalMotion a:hover, #sidenav ul #generalMotion.controlleractive a {
	background: #efefef url("../../images/icons.png") no-repeat;
	background-position: 5px -1480px;
	padding-left: 30px;
}

#sidenav ul #firstDayAffidavit a {
	background: url("../../images/icons.png") no-repeat;
	background-position: 9px -1428px;
	padding-left: 34px;
}

#sidenav ul #firstDayAffidavit a:hover, #sidenav ul #firstDayAffidavit.controlleractive a {
	background: #efefef url("../../images/icons.png") no-repeat;
	background-position: 5px -1374px;
	padding-left: 31px;
}

#sidenav ul #proHackViceMotion a {
	background: url("../../images/icons.png") no-repeat;
	background-position: 8px -1313px;
	padding-left: 35px;
}
#sidenav ul #proHackViceMotion a:hover, #sidenav ul #proHackViceMotion.controlleractive a {
	background: #efefef url("../../images/icons.png") no-repeat;
	background-position: 4px -1260px;
	padding-left: 28px;
}

#sidenav ul #investmentAdvisor a {
	background: url("../../images/icons.png") no-repeat;
	background-position: 9px -90px;
	padding-left: 30px;
}
#sidenav ul #investmentAdvisor a:hover, #sidenav ul #investmentAdvisor.controlleractive a {
	background: #efefef url("../../images/icons.png") no-repeat;
	background-position: 4px -340px;
	padding-left: 24px;
}

#sidenav ul #petition a {
	background: url("../../images/icons.png") no-repeat;
	background-position: 9px -939px;
	padding-left: 30px;
}
#sidenav ul #petition a:hover, #sidenav ul #petition.controlleractive a {
	background: #efefef url("../../images/icons.png") no-repeat;
	background-position: 4px -1000px;
	padding-left: 24px;
}

#sidenav ul #HomeMenu a {
	background: url("../../images/icons.png") no-repeat;
	background-position: 9px -1642px;
	padding-left: 35px;
}

#sidenav ul #HomeMenu a:hover {
	background: #efefef url("../../images/icons.png") no-repeat;
	background-position: 6px -1590px;
	padding-left: 30px;
}