.air {
	background-color: lightBlue;
}

.earth {
	background-color: green;
	color: white;
}

.fire {
	background-color: red;
	color: white;
}

.water {
	background-color: blue;
	color: white;
}

.blended {
	background-color: white;
}

.void {
	background-color: black;
	color: white;
}

.bordered, .outlined {
	outline: 1px solid black;
}

.input-crystal {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
	text-align: right;
	color: black;
}

.check {
	opacity: 0.5;
	color: #996;
}

#item {
	color: black;
}

.image {
	position: relative;
	width: 100%;
	height: 100%;
}

.image__content {
	position: absolute;
	padding: 5px;
}

p.item__header {
	top: 0;
	text-align: center;
	width: 100%;
	font-size: 12px;
}

.item__image {
	width: 100%;
	height: 100%;
}

.item__name {
	top: 10%;
	text-align: center;
	width: 100%;
	font-size: 0.815em;
	font-weight: bold;
}

.item__power {
	top: 20%;
	text-align: center;
	width: 100%;
	height: 55%;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: center; /* align vertical */
}

.item__attunementTime {
	top: 80%;
	font-size: 0.47em;
}

.item__slot {
	top: 65%;
	text-align: center;
	width: 100%;
	font-size: 1.4em;
	font-style: italic;
}

.item__type {
	top: 85%;
	font-size: 0.7em;
}

.item__duration {
	top: 80%;
	text-align: right;
	width: 100%;
	font-size: 0.47em;
}

.item__id {
	top: 85%;
	text-align: right;
	width: 100%;
	font-size: 0.7em;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

ul {
	width: 100%;
	margin-bottom: 20px;
	padding-left: 20px;
	overflow: hidden;
	list-style-type: circle;
}

li {
	line-height: 1.5em;
	float: left;
}

#single li {
	width: 100%;
}

#double li {
	width: 50%;
}

#triple li {
	width: 33.333%;
}

#quad li {
	width: 25%;
}

#six li {
	width: 16.666%;
}

.cont {
	
}

.item-print {
	width: 294px;
	height: 165px;
	padding: 5px;
	float: left;
}

.consumable {
	width: 494px;
	height: 165px;
	border: 1px solid #000;
	padding: 5px;
	margin: 0px;
	float: left;
}

.rotateObj {
	position: relative;
	height: 155px;
}

.rotateObj h3 {
	position: relative;
	float: left;
	width: 25px;
	height: 100%;
	border: 1px solid #000;
	margin-top: 0px;
}

.rotateObj h3 span {
	width: 155px; /* same as height of .rotateObj */
	-webkit-transform-origin: 11px 11px;
	display: inline-block;
	-webkit-transform: rotate(90deg);
	text-align: center;
}

.rotateObj .content {
	float: left;
	width: 294px;
	height: 100%;
	padding: 0px;
}

.consumable-clear {
	clear: both;
}

.item-scroll {
	width: 294px;
	height: 3.8cm;
	padding: 5px;
	float: left;
	color: red;
}

@media screen {
}

@media print {
	a[href]:after {
		content: none;
	}
	body {
		margin: 10px;
		padding: 10px;
	}
	@page {
		size: A4;
	}
	.consumable, .item-print, .recipe, .avoid-break {
		page-break-inside: avoid;
	}
	.recipe {
		font-size: 8pt;
		padding: 1px;
	}
	thead {
		display: table-header-group;
	}
	.character {
		font-size: 8pt;
		page-break-after: always;
	}
	.item-downtime {
		display: none;
	}
	th.air, td.air, .air {
		background-color: lightBlue !important;
		-webkit-print-color-adjust: exact;
	}
	th.earth, td.earth, .earth {
		background-color: green !important;
		-webkit-print-color-adjust: exact;
		color: white !important;
	}
	th.fire, td.fire, .fire {
		background-color: red !important;
		-webkit-print-color-adjust: exact;
		color: white !important;
	}
	th.water, td.water, .water {
		background-color: blue !important;
		-webkit-print-color-adjust: exact;
		color: white !important;
	}
	.blended {
		background-color: white !important;
		-webkit-print-color-adjust: exact;
	}
	th.void, td.void, .void {
		background-color: black !important;
		-webkit-print-color-adjust: exact;
		color: white !important;
	}
}
/*
.label{
        width: 9.91cm; 
        height: 3.81cm; 
        padding: .05cm;
        margin-right: .0cm; 
        outline: 1px dotted; 
        }
    .page-break  {
        clear: left;
        display:block;
        page-break-after:always;
        }
	*/
}